*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body,index.html{
    background-color: #061E29;
}


.header header{
    background-color: white;
    height: 150px;
    text-align: center;
    background-color: #1D546D;
    color: white;
    font-family: monospace;
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-color: invert;
    
    
}




h3.intro{

    text-align: center;
    background-color: #5F9598;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    width: 25%;

    
}
p{
    font-family: monospace;
    font-size: 20px;
    margin-left: 10px;
    color: #F3F4F4;
    text-align: center;
}


h3{
    text-align: center;
    background-color: #5F9598;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 10%;
    margin: auto;
}







.image img{
    height: 700px;
    width: 700px;
    border-radius: 50%;
    border: 10px solid #F3F4F4;
    display: flex;
    margin: auto;
    
}






h4{
    text-align: left;
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-left: 0px;
    width: 21%;
}


table{
    width: 50%;
    color: white;
    font-family: monospace;
    font-size: 20px;
    margin: auto;
    text-align: center;
    background-color: #5F9598;
    border-radius: 20px;
    padding: 20px;
    
    
}




ul{

    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 20px;
    
}




li{
    font-family: monospace;
    font-size: 20px;
    display: inline-block;
    width: 33%;
    text-align: center;
    
    
    
    
    
}






.email b{
    margin-left: 55%;
    
    
}

button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #5F9598;
    

}

a{
    color: white;
    font-family: monospace;
    text-decoration: none;
    font-size: small;
}


.tabbar{
    width: 120px;
    height: 300px;
    top: 50%;
    left: 20px;
    position: fixed;
    background-color: #412D15;
    border-radius: 20px;
    transform: translateY(-50%);
    
    
}



.paragraph{
    background-color: rgba(255, 255, 255, 0.658);
    width: 550px;
    margin: auto;
    border-radius: 20px;
}

.paragraph p{
    color: #333;
    margin: auto;







}






#particles-js{
    position: fixed; /*กำหนดให้ตำแหน่งติดหน้าจอ เลื่อนเว็บแล้งยังอยู่*/
    width: 100%; /*กว้างกับสูงเต็มจอ*/
    height: 100%;
    top: 0; /*กำหนดให้เริ่มจากมุมซ้ายบน*/
    left: 0;
    background: #111;
    z-index: -1; /*กำหนดให้อยู่ "ข้างหลัง" เนื้อหาของเว็บโดยใช้เครื่องหมาย -*/
}